body {
	
	font-family: roboto slab;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
	background-color: #3C3E90;
	
}


.main-container {
    display:flex;
    flex-direction: column;
}

.hiden {
    visibility: hidden;
}


p {
	font-size: 14px;
	color: white;
}

h1 {
	font-family: cambria;
	color: white;
}

button {
	height: 35px;
	width: 95px;
	background: #21224F;
	font-size: 14px;
	text-align: center;
	margin-bottom: 16px;
	border-radius: 6px;
	border: 0;
	color: #fff;
}

button:hover{
	background: #843EC2;
	
}